@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
}


$font-body:"Poppins",regular;
$font-title:"Poppins", semi-bold;