@use '../base/_typography' as *;
@use '../abstracts/_variables' as *;
@use '../abstracts/_mixins' as *;



.saladeSurMesure{
    @include display-flex;
    padding-left: 148px;

    div{
    @include display-flex-column($align:flex-start);
    display: flex;
    flex-direction: column;
    gap: 40px;
    }
    
    h2{
    font-size: 52px;
    color: $color-light-green;
    }

    p{
        font-size: 18px;
        color: $color-grey;
        
        }
    
        button{
        color: $color-white;
        background-color: $color-light-green;
        font-size: 24px;
        height: 61px;
        width: 256px;
        border-radius: 10px;
        }
}